<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<title>Créer un site</title>
</head>

<body>
<div th:replace="menu :: header">
</div>
<br>
<h3 style="text-align:center"> Merci de saisir votre site</h3>
<br>
<div class="row justify-content-center">
	<div class="col-5 align-self-center">
	<form action="#" th:action="@{/saveSite}" th:object = "${formData}" method="post">
	<table style="border-collapse: separate; border-spacing: 10px;">
		
		<tr>
			<td>Nom du site: </td>
			<td><input type="text" th:field="*{site.nom_site}" /></td>
		</tr>
		<tr>
			<td>Region (format ex: 34_Hérault): </td>
			<td><input type="text" th:field="*{site.region}" /></td>
		</tr>		
		<tr>
			<td colspan="2"><button type="submit">Valider</button></td>
		</tr>	

	</table>
	</form>
	</div>
</div>


</body>
</html>