<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />


<title>Site d'Escalade</title>
</head>

<body>

<div th:replace="menu :: header">
</div>
<div th:if="${param.logout}">
	<div class="alert alert-info row justify-content-center">Vous êtes maintenant déconnecté!</div>
</div>
<div th:if="${param.successSite}">
	<div class="alert alert-info row justify-content-center">Votre site a été créé.</div>
	<a href="/escalade/listsites" style="font-size:18px; text-align: center"><b>Voir la liste des sites</b></a>
</div>
<br>
<div class="container-fluid">
  <h3>OC Escalade</h3>
  <p>Bienvenue sur le site de OC Escalade.</p>
  <p>Vous pouvez trouver les bons sites ainsi que leur TOPO. La réservation de TOPO est gratuite. On vous invite d'ailleurs de partager vos avis sur nos sites.</p>
</div>
<div class="row">
<div class="col-12">
<img th:src="@{/img/climbing_home.JPG}" class="img-fluid mx-auto d-block"  alt="Responsive image">
</div>
</div>

<div th:each="mySession : ${infoSession}">
	<input type="hidden"  th:name="${mySession}" th:unless="${session == null}"/>
</div>

<!-- Footer -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>