<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<title>Fiche Site</title>
</head>

<body>

<div th:replace="menu :: header">
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>

<div class="row justify-content-center">
<div class="col-11">
	<table class="table">
	  <thead class="thead-dark text-center">
	    <tr>
	      <th scope="col">N°</th>
	      <th scope="col">Lieu</th>
	      <th scope="col">Région</th>
	      <th scope="col">Nombre de secteurs</th>
	      <th scope="col">Nombre de voies</th>
	      <th scope="col">Cotation</th>
	      <th scope="col">Voir la fiche</th>
	    </tr>
	  </thead>
	  <tbody class="text-center">
	    <tr th:each="site : ${listSites}">
	      <th scope="row" th:text = "${site.id_site}">N°</th>
	      <td th:text = "${site.nomSite}">Lieu</td>
	      <td th:text = "${site.region}">Région</td>
	      <td th:text = "${site.nbSecteur}">nbSecteur</td>
	      <td th:text = "${site.nbVoie}">nbVoie</td>
	      <td th:text = "${site.cotation}">Cotation</td>
	      <td><a href="">Détail</a></td>    
	    </tr>    
	  </tbody>
	</table>
</div>
</div>
</div>

<!-- Footer -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>