<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<title>Liste des sites</title>
</head>

<body>

<div th:replace="menu :: header">
</div>



<div class="row justify-content-center">
<br>
<p><a href="createsite">Créer un nouveau site</a></p>
<br>
	<div class="col-11">
		<table class="table">
		  <thead class="thead-dark text-center">
		    <tr>
		      <th scope="col">N°</th>
		      <th scope="col">Lieu</th>
		      <th scope="col">Région</th>
		      <th scope="col">Nombre de Secteurs</th>
		      <th scope="col">Nombre de Voies</th>
		      <th scope="col">Cotation</th>
		      <th scope="col">Voir la fiche</th>
		    </tr>
		  </thead>
		  <tbody class="text-center">
		    <tr th:each="site : ${listSites}">
		      <th scope="row" th:text = "${site.siteId}">N°</th>
		      <td th:text = "${site.siteNom}">Lieu</td>
		      <td th:text = "${site.siteRegion}">Région</td>
		      <td th:text = "${site.nbSecteur}">Région</td>
		      <td th:text = "${site.nbVoie}">nbVoie</td>
		      <td th:text = "${site.rangeCotation}">Cotation</td>
		      <td><a href="">Détail</a></td>   
		    </tr>
		  </tbody>
		</table>
	</div>
	
	
	

</div>

<ul th:each="mySession : ${infoSession}">
	<li th:text="${mySession}" th:unless="${session == null}">username</li>
</ul>

<!-- Footer -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>