<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />


<title>Connexion</title>
</head>

<body>

<!-- Menu -->
<div th:replace="menu :: header">
</div>
 
<div class="container">

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Connexion</h1>
			<div th:if="${param.success}">
				<div class="alert alert-info row justify-content-center">Vous êtes bien connecté!</div>
			</div>
			<div th:if="${param.error}">
				<div class="alert alert-danger row justify-content-center">Vous n'êtes pas encore inscrit!</div>
				 <a href="/escalade/inscription" style="font-size:18px; text-align: center"><b>s'inscrire ici</b></a>	 
			</div>				
			<br>
			<form th:action="@{/connexion}"  method="post">
				<div class="form-group">
					<label for="username">Identifiant (votre email)</label>: 
					<input type="text" id="username" name="username" class="form-control" autofocus="autofocus" placeholder="Identifiant" />
				</div>
				<div class="form-group">
					<label for="password">Password</label>: <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" />
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Se connecter" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<span>Nouvel utilisateur? <a href="/" th:href="@{/inscription}">S'inscrire ici</a></span>
				</div>
				
			</form>
						
	</div>
</div>


</div>


<!-- Footer -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>