<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<title>Secteur</title>
</head>

<body>
<div th:replace="menu :: header">
</div>
<br>
<h3 style="text-align:center">Secteurs de votre site:</h3>
<br>
<div class="row justify-content-center">
	<div class="col-5 align-self-center">
	<form action="#" th:action="@{/saveSecteur}"  th:object = "${secteurDto}" method="post">
		<div class="form-group">
			<label class="control-label" for="nomSite">Nom du site:</label>
			<input class="form-control" type="text" id="nomSite"  th:field="*{site.nom_site}"></input>		
		</div>
		<div class="form-group">
			<label class="control-label" for="nomSecteur1">Secteur 1:</label>
			<input class="form-control" type="text" id="nomSecteur1" th:field="*{secteur1.nomSecteur}" /></input>
		</div>
		<div class="form-group">
			<label class="control-label" for="nomSecteur2">Secteur 2: </label>
			<input class="form-control" type="text" id="nomSecteur2"  th:field="*{secteur2.nomSecteur}"></input>
		</div>	
		<div class="form-group">
			<label class="control-label" for="nomSecteur3">Secteur 3: </label>
			<input class="form-control" type="text" id="nomSecteur3"  th:field="*{secteur3.nomSecteur}"></input>
		</div>
		<br>			
		<div class="form-group">
			<button class="btn btn-primary float-right" type="submit">Valider</button>
		</div>
	</form>
	</div>
</div>


</body>
</html>